.block{
    display: flex;
    color: #fff;
    margin: 15px;
    padding: 15px;
    align-items: center;
}

.imageEpisode{
    margin: 15px;
}

.checkbox{
    display: flex;
    padding: -3px;
}

h2 {
    font-family: "Roboto Condensed";
}